h1{
  text-align:center;
  font-size:400%;
  font-weight:bold;
  color:white;
  background-color:#2a6592;
  border-bottom: 20px solid #2a6592;
  margin-bottom: 50px;
}
.card {
  background-color:#f0f6fb;
  border:3px solid #3988c4;
  text-align:center;
  margin: 0px;
}
form{
  line-height:2;
}
.buttons{
  margin: 15px 10px;
}
body{
  background-image:url("https://cdn.pixabay.com/photo/2020/09/30/17/17/palm-5616482__340.jpg");
}
h4{
  color:#2a6592;
  text-decoration:underline;
}
.warn{
  font-size:80%;
  color:red;
}
#details{
  font-size:120%;
  text-align:justify;
}
.footer{
  text-align:center;
  background-color:#2a6592;
  color:white;
  margin-top:50px;
  margin-bottom:0;
  font-weight:bold;
  border-bottom:10px solid #2a6592;
}
