h1{
  text-align:center;
  font-size:400%;
  font-weight:bold;
  color:white;
  background-color:#2a6592;
  border-bottom: 20px solid #2a6592;
}
.card {
  background-color:#f0f6fb;
  border:3px solid #3988c4;
  text-align:center;
  margin: 0px;
}
form{
  line-height:2;
}
.buttons{
  margin: 15px 10px;

}
.warn{
  font-size:80%;
  color:red;
}
